body {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
}
#grot{
    text-align: right;
    margin-right: 3em;
    color: white;
}
#grot:hover {
cursor: pointer;
}
#myVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}